<div class="card">
    <div class="card-body">
        <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
            <div class="col-12 col-md-8 offset-md-2">
                <div class="form-group row">
                    <label for="fullname" class="sb-label-form col-3"
                    >Tên người dùng</label
                    >
                    <div class="col-9">
                        <input
                                type="text"
                                class="form-control"
                                id="fullname"
                                formControlName="fullname"
                                placeholder="Tên người dùng"
                        />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="username" class="sb-label-form col-3"
                    >Tên đăng nhập</label
                    >
                    <div class="col-9">
                        <input
                                type="text"
                                class="form-control"
                                id="username"
                                formControlName="username"
                                placeholder="Tên đăng nhập"
                        />
                    </div>
                </div>
                <div class="form-group row justify-content-end">
                    <button class="btn btn-danger btn-sm">
                        <i class="fa fa-search"></i>Tìm kiếm
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="separator separator-dashed"></div>
    <div class="card-body text-right p-4 pr-0">
        <button type="button" class="btn btn-success mr-2" (click)="onCreate()" routerLink="create">
            <i class="fa fa-plus"></i>Tạo mới
        </button>
        <button type="button" class="btn btn-success mr-2" (click)="onEdit()">
            <i class="fa fa-edit"></i>Sửa
        </button>
        <button type="button" class="btn btn-danger" (click)="onDelete()">
            <i class="fa fa-trash"></i>Xóa
        </button>
    </div>
    <div class="card-body p-0 m-0">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="text-center">
                    <mat-checkbox
                            id="checkAll"
                            (change)="checkAllItems($event)"
                    ></mat-checkbox>
                </th>
                <th>Tên vai trò</th>
                <th>Mã vai trò</th>
                <th>Role_father</th>
                <th>Mô tả</th>
                <th>Người nhập</th>
                <th>Người duyệt</th>
                <th>Thời gian</th>
            </tr>
            </thead>
            <tbody>
            <!--
                <tr *ngFor="let item of way4CardList; let i = index">
                    <td class="text-center">
                        <mat-checkbox id="{{item.cardNumber}}" (change)="checkItems($event, item)"
                                      [checked]="item.checked"></mat-checkbox>
                    </td>
                    <td>{{item.cardNumber}}</td>
                    <td>{{item.openDate}}</td>
                    <td>{{item.cardType}}</td>
                    <td>{{item.status}}</td>
                    <td>{{item.cardId}}</td>
                    <td>{{item.customerId}}</td>
                    <td>{{item.customerName}}</td>
                </tr>
                -->
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <mat-paginator
                [pageIndex]="0"
                [pageSizeOptions]="[5, 10, 25, 50]"
                [pageSize]="5"
                [length]="20"
        ></mat-paginator>
    </div>
</div>
